body {
	background-color: #262626;
	color: azure;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	line-height: 1.5;
	}

h1 {
  text-align: center;
}

ul {
	padding-left: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container > div {
  text-align: center;
}

.button {
	background-color: #262626;
	border: 2px solid azure;
	color: azure;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.button:hover {
	background-color: azure;
	color: black;
	border: 2px solid black
}

 /* unvisited link */
a:link {
  color: azure;
}

/* visited link */
a:visited {
  color: gainsboro;
}

/* mouse over link */
a:hover {
  color: cyan;
}

/* selected link */
a:active {
  color: white;
} 
